# Git related
.git/
.gitignore
.github/

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Build artifacts
node_modules/
dist/
build/

# Do NOT ignore these text files
!robots.txt
!sitemap.xml